# .dockerignore

# Исключаем виртуальное окружение
venv/
*/venv/
.venv/
*/.venv/

# Исключаем системные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Исключаем файлы IDE и служебные файлы
.idea/
.vscode/
*.swp
*.bak

# Исключаем Git
.git/
.gitignore

# Исключаем файлы Docker Compose и Dockerfile (они нужны только для сборки)
docker-compose.yml
Dockerfile
Dockerfile.*

# Исключаем папку сервера (она собирается отдельно)
# Оставляем только если контекст бота . (точка)
server/

# Исключаем папку с данными (она будет монтироваться как volume)
# Если не использовать volume, а копировать при сборке, то закомментировать
data/

# Исключаем файл с секретами!!!
.env
*.env

# Другие ненужные файлы
*.log
*.tmp
*.DS_Store
node_modules/
*/node_modules/